/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
    display: flex;
    background-color: lightslategray;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.boardHeader {
    display: flex;
    background-color: rgb(136, 152, 168);
    height: 42px;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}
.center {
    display: grid;
    height: 69vh;
    background-color: white;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100px 50vw 100px;
    justify-content: space-evenly;
}
.gameBoard {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh ;
    grid-template-columns: 13vw 13vw 13vw;
    gap: 3px;
    background-color: black;
    justify-self: center;


}
.gridSquare {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    cursor: default;
    user-select: none
}

.gridSquare:hover {
    background-color: rgb(183, 224, 231);
}

.boardUI {
    display: flex;
    height: 50px;
    background-color: lightsteelblue;
    justify-content: center;
    align-items: center;
    font-size: 25px

}
.button {
    margin-right: 55px;
    font-size: 25px;

}
.score {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
}

.footer {
    display: flex;
    height: 3vh;
    background-color: lightsalmon;
    align-items: center;
    justify-content: flex-end;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    flex-direction: column;
  }

.overlayText {
    display: flex;
    height: 150px
}

#reset {
    margin-top: 15px;
    height: 125px;
    width: 200px;
    border-radius: 15px;
    border-style: none;
    background-color: #B0C4DE;
}

#reset:hover {
    background-color: #93abca;
    transition:all 0.3s;
    height: 120px;
    width: 190px;

}

.playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}